Cap09/slnApp/App.UI.WebForm/Connected Services/MantenimientoServices/MantenimientoServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MantenimientoServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMantenimientoServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5051/MantenimientoServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5051/MantenimientoServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5051/MantenimientoServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/App.Entities.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMantenimientoServices_GetArtistAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistAll" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoServices_GetArtistAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoServices_SaveArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveArtist" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoServices_SaveArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoServices_GetArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtist" />
  </wsdl:message>
  <wsdl:message name="IMantenimientoServices_GetArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistResponse" />
  </wsdl:message>
  <wsdl:portType name="IMantenimientoServices">
    <wsdl:operation name="GetArtistAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientoServices/GetArtistAll" message="tns:IMantenimientoServices_GetArtistAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientoServices/GetArtistAllResponse" message="tns:IMantenimientoServices_GetArtistAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientoServices/SaveArtist" message="tns:IMantenimientoServices_SaveArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientoServices/SaveArtistResponse" message="tns:IMantenimientoServices_SaveArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IMantenimientoServices/GetArtist" message="tns:IMantenimientoServices_GetArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMantenimientoServices/GetArtistResponse" message="tns:IMantenimientoServices_GetArtist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMantenimientoServices" type="tns:IMantenimientoServices">
    <wsp:PolicyReference URI="#NetTcpBinding_IMantenimientoServices_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetArtistAll">
      <soap12:operation soapAction="http://tempuri.org/IMantenimientoServices/GetArtistAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveArtist">
      <soap12:operation soapAction="http://tempuri.org/IMantenimientoServices/SaveArtist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtist">
      <soap12:operation soapAction="http://tempuri.org/IMantenimientoServices/GetArtist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMantenimientoServices" type="tns:IMantenimientoServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArtistAll">
      <soap:operation soapAction="http://tempuri.org/IMantenimientoServices/GetArtistAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveArtist">
      <soap:operation soapAction="http://tempuri.org/IMantenimientoServices/SaveArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtist">
      <soap:operation soapAction="http://tempuri.org/IMantenimientoServices/GetArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MantenimientoServices">
    <wsdl:port name="NetTcpBinding_IMantenimientoServices" binding="tns:NetTcpBinding_IMantenimientoServices">
      <soap12:address location="net.tcp://s000-00:5050/MantenimientoServices.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://s000-00:5050/MantenimientoServices.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/S000-00</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMantenimientoServices" binding="tns:BasicHttpBinding_IMantenimientoServices">
      <soap:address location="http://localhost:5051/MantenimientoServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>